.SidenavItem {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.5rem 2.5rem;
    background-color: #F5E9E0;
    transition: all 0.5s ease-in-out;

    &:hover, &:active {
      background-color: #E6C9B2;
      cursor: pointer;
    }
  }

  &__text {
    color: #7A5C58;
    font-size: 16pt;
    font-weight: bold;
  }

  &__icon {
    color: #7A5C58;
    font-size: 16pt;
    font-weight: bold;
  }
}