/backend/.bundle
/backend/log/*
/backend/tmp/*
/backend!/log/.keep
/backend!/tmp/.keep
/backend/tmp/pids/*
/backend/tmp/pids/
/backend/tmp/pids/.keep
/backend/storage/*
/backend/storage/.keep
/backend/.byebug_history
/backend/config/master.key
/backend/.idea

/postgres-data
/redis-data

.idea
.env.prod
deploy.sh
docker-compose.yml